<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PrinterManufacturer" value="Bematech" />
    <add key="PrinterName" value="MP-4200 TH" />
    <add key="PrinterModel" value="7" />
    <add key="PrinterConnectionType" value="COM3" />

    <add key="MessageGenericAppError" value="Desculpe, estamos em manutenção.{newline}Volte mais tarde!" />
    <add key="MessageGenericInvoiceError" value="Desculpe, erro ao processar sua Nota Fiscal.{newline}Tente novamente mais tarde." />
    <add key="MessageTimeoutTriggered" value="Desculpe, tempo excedido!" />
    <add key="MessageReadQRCode" value="Leia o QR Code da sua Nota{newline}Fiscal e boa sorte!" />
    <add key="MessageInvalidQRCode" value="QR Code inválido! Tente novamente." />
    <add key="MessageStoreNotExisting" value="A loja emissora da Nota Fiscal{newline}não está conveniada." />
    <add key="MessageInvoiceAlreadyUsed" value="Nota Fiscal já utilizada." />
    <add key="MessageInformCpf" value="Informe seu CPF:" />
    <add key="MessageInformGender" value="Selecione seu sexo:" />
    <add key="MessageInvalidCpf" value="CPF inválido, tente novamente." />
    <add key="MessageInvalidGender" value="Por favor, selecione seu sexo." />
    <add key="MessageWaitCheckInvoiceAndStoreRequest" value="Validando dados da Nota Fiscal..." />
    <add key="MessageWaitGetCampaignTemplateRequest" value="Estamos preparando uma surpresa para você..." />
    <add key="MessageWebRequestError" value="Erro ao se comunicar com a internet!{newline}Tente novamente." />
    <add key="MessageInitShuffling" value="Boa Sorte!" />
    <add key="MessageNonePrize" value="Não foi desta vez, tente novamente mais tarde!" />
    <add key="MessageWinPrizeHeader" value="Parabéns!" />
    <add key="MessageWinPrizeSubHeader" value="Você ganhou um prêmio da loja:" />
    <add key="MessageWinPrizeTakeCupom" value="Retire seu cupom" />
    <add key="MessageNonePrizeHeader" value="Foi por pouco!" />
    <add key="MessageNonePrizeSubHeader" value="Continue tentando,{newline}temos ótimos prêmios para você!" />

    <add key="AppImagesPath" value="\Resources\App\"/>
    <add key="ShufflingImagesPath" value="\Resources\ShoppingMueller\"/>
    <add key="ShufflingInterval" value="250"/>

    <add key="GetExistingInvoiceRequestUrl" value="http://www.prizebox.com.br/webservice/getExistingInvoice.php" />
    <add key="GetExistingStoreRequestUrl" value="http://www.prizebox.com.br/webservice/getExistingStore.php" />
    <add key="GetCampaignTemplateRequestUrl" value="http://www.prizebox.com.br/webservice/getCampaignTemplate.php" />
    <add key="PostCampaignItemRequestUrl" value="http://www.prizebox.com.br/webservice/postCampaignItem.php" />

    <add key="ShuffleInteractions" value="70" />
    <add key="ShuffleResultDelay" value="5000" />
    <add key="AlertTimeOut" value="5000" />
    <add key="NoInteractionTimeOut" value="10000" />
    <add key="WebRequestTimeOut" value="10000" />
    <add key="LogInformationFlag" value="true" />
    <add key="LogSystemErrorFlag" value="true" />
  </appSettings>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>